@font-face {
    font-family: 'Helvetica Neue';
    src: url(fonts/HelveticaNeue-01.ttf);
}
body{
    /* position: relative;
    width: 100%;
    height: 100%; */

    background: rgb(249, 249, 249);
}

textarea{
    padding: 12px 20px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }

input[type=text] {
    /* width: 100%; */
    padding: 12px 20px;
    /* margin: 8px 0; */
    /* box-sizing: border-box; */
  }



#Right{
    /* რეზუმე */


    position: absolute;
    width: 822px;
    height: 1080px;
    right: 0px;
    top: 0px;

    background: #FFFFFF;
}
#ellipse{
    /* Ellipse 1 */
    position: absolute;
    width: 40px;
    height: 40px;
    left: 48px;
    top: 45px;
    border-radius: 50%;
    background: #FFFFFF;
    text-align: center;
    justify-content: center;
}

#ellipse img{
    position: absolute;
    width: 9.21px;
    height: 16px;
    top: 10px;
    left: 15px;
}


.name{
    /* Input Fields */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: absolute;
    width: 419px;
    height: 122px;
    left: calc(50% - 419px/2 - 624.5px);
    top: 157px;
}

.name p{
    /* Hint */


    width: 371px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* შავი/500 */

    color: #2E2E2E;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}


.saxeli{
    /* Label */


    width: 371px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }

    #nameIn{
        /* Frame 133 */


        box-sizing: border-box;

        width: 371px;
        height: 48px;

        background: #FFFFFF;
        border: 1px solid #BCBCBC;
        border-radius: 4px;

        /* Inside auto layout */

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
    #surnameIn{
        /* Frame 133 */


        box-sizing: border-box;

        width: 371px;
        height: 48px;

        background: #FFFFFF;
        border: 1px solid #BCBCBC;
        border-radius: 4px;

        /* Inside auto layout */

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    
    .Hint1{
        /* width: 371px;
        height: 21px; */

        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height, or 150% */

        display: flex;
        align-items: center;

        /* შავი/500 */
        color: #2E2E2E;
    }

    .Surname{
        /* Input Fields */


        /* Auto layout */

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
        gap: 8px;

        position: absolute;
        width: 419px;
        height: 122px;
        left: calc(50% - 419px/2 - 197.5px);
        top: 157px;
    }


    .photo{
        /* პირადი ფოტოს ატვირთვა */


        position: absolute;
        width: 232px;
        height: 22px;
        left: 150px;
        top: 325px;

        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */


        /* off black */

        color: #1A1A1A;

    }

    .PhotoUpload{
        /* Frame 151 */


        /* Auto layout */
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* padding: 10px 10px 12px; */
        gap: 10px;

        position: absolute;
        width: 107px;
        height: 27px;
        left: 401px;
        top: 325px;

        background: #0E80BF;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        border-style: none;
        
    }









#PersonalInfo{
    /* ᲞᲘᲠᲐᲓᲘ ᲘᲜᲤᲝ */


    position: absolute;
    width: 192.769px;
    height: 29px;
    left: 149px;
    top: 47px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    /* off black */

    color: #1A1A1A;
}

#line{
    /* Line 13 */


    position: absolute;
    width: 798px;
    height: 0px;
    left: 150px;
    top: 88px;

    /* off black */

    border: 1px solid #1A1A1A;
}

#firstPage{
    /* 1/3 */


    position: absolute;
    width: 29px;
    height: 24px;
    left: 920px;
    top: 49px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    text-align: right;

    /* off black */

    color: #1A1A1A;
}

#aboutMe{
    /* Input Fields */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: absolute;
    width: 846px;
    height: 148px;
    left: calc(50% - 846px/2 - 411px);
    top: 393px;
}

#pepe{
    /* Label */


    width: 798px;
    height: 21px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#l77013{
/* Frame 133 */


box-sizing: border-box;

width: 798px;
height: 103px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
}

.InputEmail{
/* Input Fields */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 24px;
gap: 8px;

position: absolute;
width: 846px;
height: 122px;
left: calc(50% - 846px/2 - 411px);
top: 558px;
/* background-color: darkred; */
}

#InputEmail{
    /* Input Fields */
    
    
    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    
    position: absolute;
    width: 846px;
    height: 122px;
    left: calc(50% - 846px/2 - 411px);
    top: 558px;
    /* background-color: darkred; */
    }

#InputNumber{
    /* Input Fields */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: absolute;
    width: 846px;
    height: 122px;
    left: calc(50% - 846px/2 - 411px);
    top: 693px;
    /* background-color: darkred; */
}

#EmailIn{
    /* Frame 133 */


    box-sizing: border-box;

    width: 798px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
#NumberIn{
    /* Frame 133 */


    box-sizing: border-box;

    width: 798px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
#button2{
    /* ღილაკი */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;

    position: absolute;
    width: 151px;
    height: 48px;
    right: 972px;
    bottom: 65px;

    background: #6B40E3;
    border-radius: 4px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    justify-content: center;
    letter-spacing: 0.08em;
    color: white;
    border-width: 0px;
    /* cursor: pointer; */
}
#button2:hover{
    cursor: pointer;
    background-color: #7949FF;
  }
  #button2:focus{
    background-color: #512FAF;
  }
#imageStar{
    
    position: absolute;
    width: 42px;
    height: 42px;
    left: 78px;
    top: 994px;

    /* background: url(LOGO-12.png); */
}


#nameOut{
    /* ᲐᲜᲖᲝᲠ */


    position: absolute;
    width: 350px;
    height: 42px;
    left: 80px;
    top: 68px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    /* identical to box height */


    color: #F93B1D;
}

#surnameOut{
    position: absolute;
    width: 145px;
    height: 42px;
    left: 223px;
    top: 68px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    /* identical to box height */


    color: #F93B1D;

}

#display_image{
    /* Rectangle 9 */


    position: absolute;
    width: 246px;
    height: 246px;
    left: 501px;
    top: 48px;
    background-size: cover;

    /* background: url(.jpg), #D9D9D9; */
    border-radius: 133px;
}

#emailOut{
    /* anzorr666@redberry.ge */
    position: absolute;
    width: 187px;
    height: 21px;
    left: 111px;
    top: 127px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    /* off black */

    color: #1A1A1A;

}

#NumberOut{
    /* +995 597 63 45 16 */


    position: absolute;
    width: 151px;
    height: 21px;
    left: 111px;
    top: 158px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    /* off black */

    color: #1A1A1A;

}

#dog{
    height: 16.666664123535156px;
    width: 16.666664123535156px;
    left: 1.6666259765625px;
    top: 1.66650390625px;
    border-radius: 0px;
}
#dogHolder{
        position: absolute;
    left: 80px;
    right: 8.33%;
    top: 130px;
    bottom: 8.33%;
    /* background: #898989; */
}

#phoneHolder{
    position: absolute;
    left: 80px;
    right: 9.04%;
    top: 158px;
    bottom: 7.77%;
}

#phone{
    height: 16.641902923583984px;
    width: 16.63849449157715px;
    left: 1.5535888671875px;
    /* top: 1.8046875px; */
    border-radius: 0px;
}

#l77013Out{
    position: absolute;
    width: 432px;
    height: 72px;
    left: 80px;
    top: 250px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */

    text-transform: lowercase;
    word-wrap: break-word;

    color: #000000;
}

#About{
    /* ᲩᲔᲛ ᲨᲔᲡᲐᲮᲔᲑ */
    position: absolute;
    width: 118px;
    height: 22px;
    left: 80px;
    top: 213px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #F93B1D;
}


#NumberIn:invalid{
    border-color: #ef5050;
    background: url("image/stop.png") no-repeat;
    background-position: 762px;
    background-size: 18px;
}
#NumberIn:valid{
    border-color: #98e37e;
    background: url("image/green.png") no-repeat;
    background-position: 762px;
    background-size: 18px;
    border-radius: 8px;
}
#NumberIn:placeholder-shown {
    border-color: #bcbcbc;
    background: none;
  }

#EmailIn:invalid{
    border-color: #ef5050;
    background: url("image/stop.png") no-repeat;
    background-position: 762px;
    background-size: 18px;
    
    
}
#EmailIn:valid{
    border-color: #98e37e;
    background: url("image/green.png") no-repeat;
    background-position: 762px;
    background-size: 18px;
    border-radius: 8px;
}
#EmailIn:placeholder-shown {
    border-color: #bcbcbc;
    background: none;
  }

#nameIn:invalid{
    border-color: #ef5050;
}
#nameIn:valid{
    border-color: #98e37e;
    background: url("image/green.png") no-repeat;
    background-position: 340px;
    background-size: 18px;
    border-radius: 8px;
}
#nameIn:placeholder-shown {
    border-color: #bcbcbc;
    background: none;
  }

  #surnameIn:invalid{
    border-color: #ef5050;
}
#surnameIn:valid{
    border-color: #98e37e;
    background: url("image/green.png") no-repeat;
    background-position: 340px;
    background-size: 18px;
    border-radius: 8px;
}
#surnameIn:placeholder-shown {
    border-color: #bcbcbc;
    background: none;
  }

  #l77013:placeholder-shown{
    border-color: #bcbcbc;
    
  }
  #l77013:valid{
    border-color: #98e37e;
}